* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 background-color: rgba(0, 0, 0, 0.8);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 50vh;
  width: 60vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  color: #fff;
}
from {
  margin: 2rem 0 1rem 0;
}
form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 1rem;
  transition: box-shadow 0.3s ease;
}
form input {
  border: 1px solid #444;
  height: 3rem;
  padding-left: 0.5rem;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}
form input:hover {
  box-shadow: 0 0 8px #00ffcc;
  cursor: pointer;
}
form select:hover,
button:hover,
input:hover {
  box-shadow: 0 0 8px #00ffcc;
  cursor: pointer;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #00ffcc;
}
.select-container img {
  max-width: 2rem;
}
.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border-color: green;
}
.select-container select {
  font-size: 1rem;
  width: auto;
}
.msg {
  margin: 2rem 0 2rem 0;
  text-align: center;
  font-size: 1.2rem;
  color: #00ffcc;
}
form button {
  height: 3rem;
  background-color: #00bfa5;
  color: white;
  font-size: 1.15rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  border-radius: 0.75rem;
}
form button:hover {
  box-shadow: 0 0 12px #00ffcc;
}
h2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  color: #00bfa5;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  animation: shadowPulse 2s infinite alternate;
}
p {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #00ffcc;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  animation: shadowPulse 2s infinite alternate;
}

@keyframes shadowPulse {
  0% {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  100% {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
  }
}
