 body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('uni.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .login-container {
    margin-top: 200px;
    color: #4d4d4d;
    padding: 15px 40px;
    font-family: monospace;
    font-size: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur();
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #ddd;
    color: black;
    overflow: hidden;
  }

  input:hover,
  button:hover {
    font-family: monospace;
    font-size: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #ddd;
    color: black;
    overflow: hidden;
  }

  input:focus,
  button:focus {
    font-family: monospace;
    font-size: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur();
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #ddd;
    color: black;
    overflow: hidden;
  }

  .btn {
    color: #4d4d4d;
    padding: 15px 40px;
    font-family: monospace;
    font-size: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #ddd;
    color: black;
    overflow: hidden;
  }

  .btn:hover {
    font-family: monospace;
    font-size: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur();
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgb(0, 0, 00.3),
      0 0 20px rgb(0, 0, 0, 0.3);
    position: relative;
    color: #ddd;
  }

  button:hover {
    font-family: monospace;
    font-size: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #ddd;
    color: black;
    overflow: hidden;
  }

  .form-control {
    width: 500px;
    padding: 15px 40px;
    font-family: monospace;
    font-size: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur();
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #ddd;
    color: black;
    overflow: hidden;
  }

  .form-control::placeholder {
    color: black;
  }

  .form-check-input {
    font-family: monospace;
    font-size: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #ddd;
    color: black;
    overflow: hidden;
  }

  input:hover:focus,
  button:hover:focus {
    font-family: monospace;
    font-size: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur();
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgb(0, 0, 00.3),
      0 0 20px rgb(0, 0, 0, 0.3);
    position: relative;
    color: black;
  }
